@model List<Todo>

<div class="row">
    <div class="col">
        <h1 class="display-4">Todos</h1>
        <hr />
    </div>
</div>


<div class="row">
    <div class="col">
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>Due Date</th>
                    <th>Completed</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (Todo item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Text</td>
                        <td>@item.DueDate</td>
                        <td>@item.Completed</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>